<div class="container col-md-6">
    <div class="card">
        <div class=card-header>
            <h3>modificar Contactos</h3>
        </div>

        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for="">Nombres:</label>
                    <input [(ngModel)]="persona.name" name="name" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Apellido:</label>
                    <input [(ngModel)]="persona.apellidos" apellidos="apellidos" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">numero:</label>
                    <input [(ngModel)]="persona.numero" numero="numero" type="text" class="form-control">
                </div>
                <button (click)="Editar()" class="btn btn-danger">Guardar</button>
            </form>
        </div>

    </div>
</div>